iters = 100


N = 128
tf = 5

# damping
#D=0,0,0

# mass matrix diagonal
#I=.3,10,10

#D=.01,.05,5

ulb = -.1, -.1
uub = .1, .1

# 
x0=2, 2, -3, 0,0,0
xf=0,0,0, 0,0,0

#     g     v
Qf = 1, 5, 5, .1, .5, .5
Q = 0, 0, 0, 0, 0, 0

#ko = .5

#     u
R = .01, .05, .05

mu=.01
