build*
*.bak*
*.stl
*.blend
*.blend1
*.cfg
data/
bin/
bullet3*  
CMakeLists.txt  
GcopConfig.cmake.in*
install.sh
maps/                   
runtests.sh
AUTHORS*
cmake*
data            
gcop.pc              
lib/
README*
tools*

