<?xml version="1.0"?>
<launch>	
	<arg name="parameters" default="$(find gcop_ctrl)/params/airbot4.yaml"/>

	<include file="$(find gcop_urdf)/launch/display_chain.launch">
		<arg name="model" default="$(find gcop_ctrl)/params/airbot4.urdf"/>
	</include>

  <rosparam command="load" file="$(arg parameters)" />
	<node name="dmoc_mbs" pkg="gcop_ctrl" type="mbstest" output="screen"/>
	<node name="mbsreconfigure" pkg="dynamic_reconfigure" type="reconfigure_gui" />
</launch>
